.booking-page-container {
    padding: 20px;
}

table.slots-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

table.slots-table th, table.slots-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table.slots-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    opacity: 0.8;
}

@media (max-width: 768px) {
    table.slots-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }