/* BookingPage */
.booking-page-container {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.booking-page-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.booking-page-container input[type="date"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.booking-page-container input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
}

/* 可用时间段按钮 */
.slots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.slots-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.slots-container button:hover {
    background-color: #0056b3;
}

.slots-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* "Book Now"  */
.book-now-btn {
    display: block;
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer;
    width: fit-content;
}

.book-now-btn:hover {
    background-color: #218838;
}
